  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 99%;
      margin: auto;
  }
  .hr{
  	width: 20%;
  	background-color: black;

  }
 /*aqui va mi primer paleta*/
.E7{
	background-color:#69D2E7;
	padding: 3%;


  }
  .DB{
  	background-color: #A7DBDB;
  	padding: 3%;
  	
  }
  .CC{
  	background-color: #E0E4CC;
  	padding: 3%;

  }
  .F3{
  	background-color: #F38630;
  	padding: 3%;


  }
  .FA{
  	background-color: #FA6900;
  	padding: 3%;
  }
   /*aqui va mi segunda paleta*/
  .E9{
	background-color:#E94C6F;
	padding: 3%;


  }
  .CU{
  	background-color:#542733 ;
  	padding: 3%;
  	
  }
  .A6{
  	background-color:#546A62 ;
  	padding: 3%;

  }
  .CD{
  	background-color:#C6D5CD ;
  	padding: 3%;


  }
  .FD{
  	background-color:#FDF200 ;
  	padding: 3%;
  }
  /*aqui va mi tercer paleta*/
   .DB{
  background-color:#DB3340;
  padding: 3%;


  }
  .E8{
    background-color:#E8B71A ;
    padding: 3%;
    
  }
  .F7{
    background-color:#F7EAC8 ;
    padding: 3%;

  }
  .A9{
    background-color:#1FDA9A ;
    padding: 3%;


  }
  .BE{
    background-color:#28ABE3 ;
    padding: 3%;
  }
  /*aqui va mi cuarta paleta*/
  .C7{
  background-color:#588C73;
  padding: 3%;


  }
  .E3{
    background-color:#F2E394 ;
    padding: 3%;
    
  }
  .F2{
    background-color:#F2AE72 ;
    padding: 3%;

  }
  .D9{
    background-color:#D96459 ;
    padding: 3%;
 

  }
  .C8{
    background-color:#8C4646 ;
    padding: 3%;
  }
   /*aqui va mi quinta paleta*/
  .F1{
  background-color:#D0691F;
  padding: 3%;


  }
  .B9{
    background-color:#85C4B9 ;
    padding: 3%;
    
  }
  .BA{
    background-color:#008BBA ;
    padding: 3%;

  }
  .DF{
    background-color:#DF514C ;
    padding: 3%;


  }
  .B0{
    background-color:#DC403B;
    padding: 3%;
  }
.color{
  background-color: #00004d;
}
.back-what{
  background-color: #00cc66;
}