  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  hr{
  	width:10%;
  	background-color: black;

  }
 /*aqui va mi primer paleta*/
.E7{
	background-color:#69D2E7;
  padding: 3%;



  }
  .DB{
  	background-color: #A7DBDB;
  	padding: 3%;
  	
  }
  .CC{
  	background-color: #E0E4CC;
  	padding: 3%;

  }
  .F3{
  	background-color: #F38630;
  	padding: 3%;
  }
  .FA{
  	background-color: #FA6900;
  	padding: 3%;
  }
   /*aqui va mi segunda paleta*/
  .E9{
	background-color:#E94C6F;
	padding: 3%;

  }
  .CU{
  	background-color:#542733 ;
  	padding: 3%;
  	
  }
  .A6{
  	background-color:#546A62 ;
  	padding: 3%;

  }
  .CD{
  	background-color:#C6D5CD ;
  	padding: 3%;
  }
  .FD{
  	background-color:#FDF200 ;
  	padding: 3%;
  }
  /*aqui va mi tercer paleta*/
   .DB{
  background-color:#DB3340;
  padding: 3%;
  }
  .E8{
    background-color:#E8B71A ;
    padding: 3%;
    
  }
  .F7{
    background-color:#F7EAC8 ;
    padding: 3%;

  }
  .A9{
    background-color:#1FDA9A ;
    padding: 3%;


  }
  .BE{
    background-color:#28ABE3 ;
    padding: 3%;
  }
  /*aqui va mi cuarta paleta*/
  .C7{
  background-color:#588C73;
  padding: 3%;


  }
  .E3{
    background-color:#F2E394 ;
    padding: 3%;
    
  }
  .F2{
    background-color:#F2AE72 ;
    padding: 3%;

  }
  .D9{
    background-color:#D96459 ;
    padding: 3%;
 

  }
  .C8{
    background-color:#8C4646 ;
    padding: 3%;
  }
   /*aqui va mi quinta paleta*/
  .F1{
  background-color:#D0691F;
  padding: 3%;


  }
  .B9{
    background-color:#85C4B9 ;
    padding: 3%;
    
  }
  .BA{
    background-color:#008BBA ;
    padding: 3%;

  }
  .DF{
    background-color:#DF514C ;
    padding: 3%;


  }
  .B0{
    background-color:#DC403B;
    padding: 3%;
  }
  .image{
    width: 60% ;
    height: 60%;
    margin-left: 10%;
  }
.color{
  background-color: #00004d;
}
.back-what{
  background-color: #00cc66;
}
.back-redes{
  background-image: url(../img/img-divider-img.jpg);
  background-position: 10px 30px;
  padding: 10%;
}
.brown{
  background-color: #802b00;
}
.caja{
  background-color: #00004d;
   width: 30%;
   padding: 2%;
   margin-left: 40%; 
    
}
#return{
  transform: rotate(3deg);
 
}
.margin{
  margin-bottom: .5%;
}
.margin-bot{
  margin-bottom: 10%;
}
.orange{
  color:  #ff5c33;
}
.tamaño{
  width:48%; 
  margin-left: 25%;
}
.blue{
  background-color:blue;
  opacity: .3 ;
  color: black;
  
}
.white{
  background-color: white;
  color: black

}
.borde{
  border:1px solid #00cc66;
  padding: 2%;
  
}
.cuadros{
   background-color: #00cc66;
   padding: 5%;
}
.margin-top{
  margin-top: 10%;
  margin-bottom: 4%;
}
.colour{
  border: 1px solid #ff5c33;
  padding-top: 1%;
}
.caja1{

  background-color: #802b00;
   width: 30%;
   padding: 2%;
   margin-left: 40%; 
   transform: rotate(45deg);

}
.redsocial{
  font-size: 700%;
  color: white;
}
.text{
  text-indent: 5%;
}
.block{
  display: inline-block;
}
.images{
  width: 50% ;
  height:50% ;
  margin-left: 25%;
}
.margin-left{
  margin-left: .5%;
}
.black{
  background-color: black;
  padding: 
}
.borde-red{

}
#print{
  color: orange;
}
.right{
  margin-right: 0%;
}
.redsocial {-webkit-animation: anim2 ease-in-out 3s infinite alternate; }
@-webkit-keyframes anim2
{
   from {left: 0px;   -webkit-transform: scale(1.0) rotate(0deg)   }
   50%  {left: 250px; -webkit-transform: scale(0.8) rotate(10deg)  }
   to   {left: 500px; -webkit-transform: scale(1.2) rotate(-20deg) }
}

@media (max-width: 768px) {
  .container-fluid {
      margin:0 !important;
      padding:0 !important;
  }

  .row {
      margin:0 !important;
      padding:0 !important;
  } 
}

@media (max-width: 700px) {
  [class*="col-"] {
    width: 100%;
  }
}

@media (min-width: 490px) {
  .img  {
    width: 490px;
  }
}
@media (min-width: 970px) {
    .img    {
    width: 970px;
  }
}
@media (min-width: 360px) {
  .images{
    width: 100px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    width: 1350px;
  }
}
@media screen and (min-width: 520px)and (max-width: 699px){
   .navbar{
      display: inline-block;  
   }
 }
   
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
  .col-xs-2{
    width: 100%;
  }
  
}
@media only screen and (max-width: 536px){
  .col-xs-2{
    width: 100%;
  }
  
}



